<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479720515235-c55bef7na7uja6gmtgruo1t18ie92isb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479720515235-c55bef7na7uja6gmtgruo1t18ie92isb</string>
	<key>API_KEY</key>
	<string>AIzaSyDDWdniPVtR-gZirl7F5GI7E_ykvqKVzbc</string>
	<key>GCM_SENDER_ID</key>
	<string>479720515235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arascamedical</string>
	<key>PROJECT_ID</key>
	<string>arasca-medical</string>
	<key>STORAGE_BUCKET</key>
	<string>arasca-medical.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479720515235:ios:1f2d00a894984bdd55c116</string>
	<key>DATABASE_URL</key>
	<string>https://arasca-medical.firebaseio.com</string>
</dict>
</plist>