<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> Fonts provided by application</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>CircularStd-Black.otf</string>
		<string>CircularStd-BlackItalic.otf</string>
		<string>CircularStd-Book.otf</string>
		<string>CircularStd-Bold.otf</string>
		<string>CircularStd-Medium.otf</string>
		<string>Myriad Pro Black Italic.OTF</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ch.shop</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Alloe Music Usage Description to get the files from your device</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow Camera Usage Description to Capture Image</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Location Usage Description to Access Current Location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Location Usage Description to Access Current Location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Microphone Usage Description to Access and Record Videos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Camera Usage Description to Fetch Gallery Image</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>CircularStd-Black.otf</string>
		<string>CircularStd-BlackItalic.otf</string>
		<string>CircularStd-Bold.otf</string>
		<string>CircularStd-Book.otf</string>
		<string>CircularStd-Medium.otf</string>
		<string>Helvetica-BlkIt.ttf</string>
		<string>HelveticaNeue-Black.otf</string>
		<string>HelveticaNeue-BlackCond.otf</string>
		<string>HelveticaNeue-BlackCondObl.otf</string>
		<string>HelveticaNeue-BlackExt.otf</string>
		<string>HelveticaNeue-BlackExtObl.otf</string>
		<string>HelveticaNeue-BoldCondObl.otf</string>
		<string>HelveticaNeue-BoldExt.otf</string>
		<string>HelveticaNeue-BoldExtObl.otf</string>
		<string>HelveticaNeue-BoldItalic.ttf</string>
		<string>HelveticaNeue-Condensed.otf</string>
		<string>HelveticaNeue-CondensedObl.otf</string>
		<string>HelveticaNeue-ExtBlackCond.otf</string>
		<string>HelveticaNeue-ExtBlackCondObl.otf</string>
		<string>HelveticaNeue-Extended.otf</string>
		<string>HelveticaNeue-ExtendedObl.otf</string>
		<string>HelveticaNeue-Heavy.otf</string>
		<string>HelveticaNeue-HeavyCond.otf</string>
		<string>HelveticaNeue-HeavyCondObl.otf</string>
		<string>HelveticaNeue-HeavyExt.otf</string>
		<string>HelveticaNeue-HeavyExtObl.otf</string>
		<string>HelveticaNeue-HeavyItalic.otf</string>
		<string>HelveticaNeue-Italic.ttf</string>
		<string>HelveticaNeue-Light.ttf</string>
		<string>HelveticaNeue-LightCondObl.otf</string>
		<string>HelveticaNeue-LightExt.otf</string>
		<string>HelveticaNeue-LightExtObl.otf</string>
		<string>HelveticaNeue-LightItalic.ttf</string>
		<string>HelveticaNeue-Medium.ttf</string>
		<string>HelveticaNeue-MediumCond.otf</string>
		<string>HelveticaNeue-MediumCondObl.otf</string>
		<string>HelveticaNeue-MediumExt.otf</string>
		<string>HelveticaNeue-MediumExtObl.otf</string>
		<string>HelveticaNeue-Roman.otf</string>
		<string>HelveticaNeue-Thin.otf</string>
		<string>HelveticaNeue-ThinCond.otf</string>
		<string>HelveticaNeue-ThinCondObl.otf</string>
		<string>HelveticaNeue-ThinExtObl.otf</string>
		<string>HelveticaNeue-ThinItalic.otf</string>
		<string>HelveticaNeue-UltraLigCond.otf</string>
		<string>HelveticaNeue-UltraLigCondObl.otf</string>
		<string>HelveticaNeue-UltraLigExt.otf</string>
		<string>HelveticaNeue-UltraLight.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
